<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.carebridge.carebridgeadminapi.caregiver.mapper.CareGiverMapper">

    <select id="count" resultType="int">
        select
            count(cgno)
        from
            caregiver
        where
            cgno > 0 and cgdelete = false
    </select>

    <select id="getList" resultType="CareGiverListDTO">
        select
            cgno, cgname, cgage, cgphone, cgemail, cgpw
        from
            caregiver
        where
            cgno > 0 and cgdelete = false
        order by
            cgno desc
        limit
            #{skip}, #{size}
    </select>

    <delete id="delete">
        update
            caregiver
        set
            cgdelete = true
        where
            cgno = #{cgno}
    </delete>

    <insert id="insert">
        insert into caregiver
            (cgname, cgage, cgphone, cgemail, cgpw)
        values
            (#{cgname}, #{cgage}, #{cgphone}, #{cgemail}, #{cgpw})
    </insert>

    <update id="update">
        update
            caregiver
        set
            cgname = #{dto.cgname},
            cgage = #{dto.cgage},
            cgphone = #{dto.cgphone},
            cgemail = #{dto.cgemail},
            cgpw = #{dto.cgpw}
        where
            cgno = #{cgno}
    </update>

    <select id="getOne" resultType="CareGiverReadDTO">
        select
            cgno, cgname, cgage, cgphone, cgemail, cgpw
        from
            caregiver
        where
            cgno = #{cgno}
    </select>

</mapper>