<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.carebridge.carebridgeadminapi.caretaker.mapper.CareTakerMapper">


    <select id="careTakerList" resultType="CareTakerDTO">

        select
            ctno, ctname, ctage, ctaddress, ctphone, ctemail, ctpw
        from
            caretaker
        where ctdelete = false
        order by
            ctno desc
        limit
            #{skip}, #{size}

    </select>

    <select id="countMatchedList" resultType="int">
        select
        count(*)
        from
        caretaker ct
        left join
        (
        select
        cm.ctno
        from
        care_match cm inner join caregiver cg on cm.cgno = cg.cgno
        ) c on ct.ctno = c.ctno
        where
        ct.ctno = #{ctno}


    </select>

    <select id="careTakerMatchList" resultType="CareTakerMatchDTO">

        select
        c.cmno, ct.ctname, c.cgname, c.start, c.end
        from
        caretaker ct
        inner join
        (
        select
        cm.cmno, cg.cgname, cm.start, cm.end, cm.ctno
        from
        care_match cm inner join caregiver cg on cm.cgno = cg.cgno
        ) c on ct.ctno = c.ctno
        where
        ct.ctno = #{ctno}
        order by
        c.start desc
        limit
        #{pageRequest.skip}, #{pageRequest.size}




    </select>

    <select id="count" resultType="int">
        select count(ctno)
        from caretaker
        where ctno > 0 and ctdelete = false
    </select>

    <delete id="delete">

        update
            caretaker
        set
            ctdelete = true
        where
            ctno = #{ctno}

    </delete>

    <update id="update">
        update
            caretaker
        set
            ctname = #{dto.ctname},
            ctage = #{dto.ctage},
            ctaddress = #{dto.ctaddress},
            ctphone = #{dto.ctphone}
        where
            ctno = #{ctno}
    </update>

    <select id="getOne" resultType="CareTakerDetailDTO">
        select *
        from
            caretaker
        where
            ctno = #{ctno}
    </select>


</mapper>