<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.carebridge.carebridgeadminapi.faq.mapper.FAQMapper">

    <!-- FAQ 조회  -->
    <select id="getAllFAQs" resultType="FAQListDTO">
        select * from faq
    </select>

    <!-- FAQ 등록 -->
    <insert id="insertFAQ" parameterType="FAQEditDTO" useGeneratedKeys="true" keyProperty="fno">
        insert into faq (fcategory, ftitle, fcontent)

    </insert>

</mapper>