<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.carebridge.carebridgeadminapi.graph.mapper.GraphMapper">

    <select id="GiverCount" resultType="int">

        select count(cgno)
        from
            caregiver
        where
            cgdelete = false
        and
            cgapproved = true

    </select>

    <select id="TakerCount" resultType="int">
        select count(ctno)
        from
            caretaker
        where
            ctdelete = false
    </select>

    <select id="MatchTakerCount" resultType="int">
        SELECT count(ctno)
        FROM
            care_match
        WHERE
            NOW()
                BETWEEN
                    start AND end
    </select>

    <select id="MatchGiverCount" resultType="int">
        SELECT
            count(cgno)
        FROM
            care_match
        WHERE
            NOW()
                BETWEEN
                    start AND end
    </select>



</mapper>